body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.left-panel {
    background-color: #dad1d1;
    
    
}

.right-panel {
    background-color: #c70000;
    
}

.profile-body{
 

}

.profile-picture{
    display: inline-block;
    vertical-align: middle;
    height: 175px;
    border-radius: 50%;
}

.name{
    display: inline-block;
    font-size: 34px;
    margin-left: 15px;
}

.contact-info{
    display: grid;
	grid-template-columns: auto auto;
    grid-row-gap: 3vh;
    margin-left: 19%;
    margin-top: 6%;
    margin-right: 9%;
    font-size: 24px;
    color: rgb(61, 61, 61);
}

.contact-right{
    text-align: right;
}

.description{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 2vw;
    text-align: justify;
    
}

.resume{
    height: 50px;
    width: 250px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(145, 75, 145);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 10%;
    transition-property: all;
    transition-duration: 1s;

}

/*thanks for working*/
.description2{
    text-align: center;
}

.center-button,
.profile-body{
    text-align: center;
}

button:hover{
    background-color: rgb(172, 102, 172);
    }
    
button:active{
    background-color: rgb(107, 63, 107);
}

