body {
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}



li{
  font-size: 20px;
  font-weight: 200;
  padding-top: 10px;
}

.light-text{
  font-weight: 200;
}

.purple-text:hover{
  color: rgb(180, 93, 180);
}

.purple-text{
  text-decoration: underline;
  color: rgb(145, 75, 145);
  text-decoration-color: rgb(145, 75, 145);
}

.website-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  width: 1100px;
}

.centered-container {
  text-align: center;
}

.description {
  font-weight: 200;
  margin-top: 35px;
}

.description,
.shared-space {
  font-size: 20px;
}

.profile-box,
.item-box,
.contact-container,
.resume-box,
.work-history-box,
.contact-container2,
.resume-box2,
.empty-container {
  padding: 50px;
  border-radius: 20px;
  background-color: rgb(224, 224, 224);
  margin: 25px;
}

.title,
.title2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.profile-box {
  height: 515px;
  width: 400px;
}

.profile-picture {
  display: inline-block;
  vertical-align: middle;
  height: 175px;
  border-radius: 50%;
  padding-left: 50px;
  padding-right: 80px;
  margin-top: 30px;

}

.shared-space{
  width: 550px;
}

.contact-container {
  height: 255px;
  width: 400px;
}

.contact-info {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
  margin-top: 30px;
}

.contact-right {
  text-align: right;
  font-weight: 200;
}

.resume-box {
  width: 400px;
}

.resume-button {
  height: 135px;
  width: 400px;
  border-radius: 20px;
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(145, 75, 145);
  border: none;
  cursor: pointer;

}

.resume-button:hover{
  background-color: rgb(180, 93, 180);
}


.media-box {
  text-align: right;
}

.media-icon {
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
}

.work-history-box{
  width: 950px;
}

.world-peace{
  margin: 0;
  width: 0px;
}


.description1,
.description2{
  display: grid;
  grid-template-columns: auto auto; 

}

.title2{
  margin-bottom: 30px;

}

.left,
.right{
  font-size: 20px;
}

.left{
  text-align: left;
  
}

.right{
  text-align: right;
}

.resume-box2{
  height: 219px;
}

.empty-container{
  height: 9px;
  width: 145px;
}

.kitty{
  height: 150px;
  margin-top: -70px;
  margin-left: -50px;
}