/*p{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 75px;
}*/

.container {
    min-height: 100vh;
    display: flex;
  }
  
.left-panel {
    background-color: yellow;
    
    flex:1;
    width: 50wv;
  }
  
.right-panel {
    background-color: orange;
    
    flex: 1;
    width: 50wv;
  }