@font-face {
  font-family: 'ombudsman';
  src: url('./fonts/ombudsman/Ombudsman.otf') format('truetype');
  font-weight: normal;
}

:root {
  --elements: rgb(57, 52, 49);
  --background: rgb(189, 158, 67);
  --sign-background: rgb(173, 173, 173);
}

body {
  font-family: 'ombudsman', sans-serif;
  background-color: var(--background);
  color: var(--elements);
  font-size: 50px;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: 
  repeating-linear-gradient(-45deg, transparent, transparent 2rem, var(--elements) 2rem, var(--elements) 4rem);
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior: none;
  overflow: hidden;
}

.separation {
  border:  2px dashed var(--elements);
  margin: 25px 0 25px 0;
}


.sign {
  display: flex;
  flex-direction: column;
  background-color: var(--sign-background);
  width: 600px;
  padding: 8px;
  margin: 100px;
  margin-left: auto;
}

.title, .title2 {
  display: flex;
  border: 3px solid var(--elements);
  margin: 0 auto;
  border-right: none;
  border-left: none;
  padding: 0 96px;
}

.title2 {
  width: 336.85px;
  border-bottom: none;
}

.subtitle {
  width: 380px;
  padding: 20px 0 0 36px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.message {
  display: inline-block;
  padding: 0 0 0 36px;
  line-height: 65px;
  margin: 10px 0 0 0;
}



img {
  height: 400px;
  width: auto;
  margin-top: 20px;
  padding: 0px 50px 0 0;
}

@media only screen and (max-width: 480px) {
  body {
    font-family: 'ombudsman', sans-serif;
    background-color: var(--background);
    color: var(--elements);
    font-size: 4vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(bg.webp);
    background-size: cover;
  }
  
  .separation {
    border: 2px dashed var(--elements);
    margin: 1.5625vw 0 1.5625vw 0;
  }
  
  .sign {
    display: flex;
    flex-direction: column;
    background-color: var(--sign-background);
    width: 37.5vw;
    padding: 80vw 1.3333vw;
    margin: 1vw;
    margin-left: auto;
  }
  
  .title, .title2 {
    display: flex;
    border: 0.75vw solid var(--elements);
    border-right: none;
    border-left: none;
    padding: 0 12vw;
  }

  .title2 {
    width: 336.85px;
    border-bottom: none;
  }
  
  .subtitle {
    width: 19vw;
    padding: 2vw 0 0 4.5vw;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .message {
    display: inline-block;
    padding: 0 0 0 4.5vw;
    line-height: 3.25vw;
    margin: 1.125vw 0 0 0;
  }
  
  img {
    height: 26.6667vw;
    width: auto;
    margin-top: 1.25vw;
    padding: 0 2.5vw 0 0;
  }
}