/**********************scroll and underscore animation**********************/

* {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%, 49.9% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

.animation {
  animation: blink 1.5s infinite;
  color: rgb(86, 156, 214);
  font-weight: 500;
}

/**********************scroll and underscore animation**********************/

body {
  background: #f5f6f7;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

main {
  margin-top: 75px;
}


/**********************navigation bar**********************/

header {
  width: 100%;
  height: 75px;
  background-color: #7e1010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

ul {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  margin-right: 50px;
}

li {
  color: #dfdfe2;
  padding: 0 25px 0 25px;
  display: block;
}

li:hover {
  background-color: #dfdfe2;
  color: #7e1010;
  cursor: pointer;
}

a {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  padding: 0 25px 0 25px;
  transition: padding, 0.25s;
}

a:hover{
  padding-left: 75px; padding-right: 75px;
  margin-left: 0px; margin-right: 0px;
}

/**********************navigation bar**********************/



/**********************first container**********************/

.about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31), rgb(41, 41, 41));
}

.name {
  font-weight: 300;
  font-size: 48px;
  color: rgb(247, 247, 247);
  margin: 0;
}

.orange {
  color: rgb(219, 107, 51);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.blue {
  color: rgb(52, 142, 202);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}


.subtitle {
  font-weight: 700;
}

.one {
  font-size: 24px;
}

.two {
  font-size: 8px;

}

/**********************first container**********************/



.background-container {

  height: 100vh;
  width: 100%;
  background-color: #007263;
}

.projects-container {

  height: 100vh;
  width: 100%;
  background-color: #5e0e0e;
}

.contact-container {

  height: 100vh;
  width: 100%;
  background-color: #007263;
}


