
* {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%, 49.9% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

.animation {
  animation: blink 1s infinite; /* Change the animation duration as needed */
}




body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 75px;
  background-color: #ca00c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

h1 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  margin-left: 50px;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  padding: 0 50px 0 50px;
}

main {
  margin-top: 75px;
}
.about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #720000;
}

.background-container {

  height: 100vh;
  width: 100%;
  background-color: #007263;
}

.projects-container {

  height: 100vh;
  width: 100%;
  background-color: #720039;
}

.contact-container {

  height: 100vh;
  width: 100%;
  background-color: #007263;
}


.main {
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.char {
  font-size: 24px;
  margin-top: 50px;
}

