body {
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

footer {
  border-top: 2px solid rgb(158, 40, 55);
  background-color: rgb(31, 31, 31);
  color: rgb(158, 40, 55);
  font-weight: 700;
  text-align: center;
  padding: 50px 0 50px 0;
}



/**********************scroll and underscore animation**********************/

* {
  scroll-behavior: smooth;
}

@keyframes blink {
  0%, 49.9% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 0.7;
  }
}

.animation {
  animation: blink 1.5s infinite;
  color: rgb(69, 86, 125);
  font-weight: 500;
}

/**********************scroll and underscore animation**********************/


/**********************navigation bar**********************/

header {
  width: 100%;
  height: 75px;
  background-color: rgb(203, 52, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.15);
}

ul {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  margin-right: 50px;
}

li {
  font-weight: 700;
  color: rgb(223, 223, 226);
  padding: 0 25px 0 25px;
  display: block;
}

li:hover {
  background-color: rgba(223, 223, 226, 0.9);
  color: rgba(158, 40, 55, 1);
  cursor: pointer;
}

a {
  color: inherit;
  font-size: 24px;
  text-decoration: none;
  padding: 0 25px 0 25px;
  margin: 0 25px 0 25px;
  transition: padding, 0.25s;
}

/**********************navigation bar**********************/



/**********************main container**********************/

.about-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgb(31, 31, 31), rgb(31, 31, 31), rgb(41, 41, 41));
}

.name {
  font-weight: 300;
  font-size: 58px;
  color: rgb(247, 247, 247);
  margin: 0;
}

.orange {
  color: rgb(189, 98, 52);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.blue {
  color: rgb(69, 86, 125);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}


.subtitle {
  font-weight: 700;
}

.one {
  font-size: 30px;
}

.two {
  font-size: 12px;

}

/**********************main container**********************/



/**********************background container**********************/

.background-container {

  height: 100vh;
  width: 100%;
  background-color: rgb(203, 98, 52);
}







/**********************background container**********************/







/**********************project container**********************/
.projects-container {

  height: 100vh;
  width: 100%;
  background-color: rgb(203, 52, 187);
}




/**********************project container**********************/






/**********************contact container**********************/

.contact-container {

  height: 100vh;
  width: 100%;
  background-color: rgb(31, 31, 31);
}





/**********************contact container**********************/
